@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#page-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(1px, 450px));
  grid-column-gap: 40px;
  font-family: Verdana, Helvetica, Arial;
  padding: 0px 5px 50px 5px;
  font-size: 90%;
}

#header {
  grid-column: span 2;
  text-align: center;
  background-color: #6F92B2;
  color: white;
  font-weight: bold;
}

#network {
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  text-align: center;
  font-size: 140%;
}

#website-url {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  font-size: 80%;
}

#profile {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

#profile-name {
  grid-column: span 2;
  font-size: 140%;
}

#profile-picture {
  grid-column: span 1;
}

#profile-description {
  grid-column: span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 50%);
  padding: 15px;
}

#profile-description>div {
  display: flex;
  align-items: flex-end;
}

#photo-space {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  padding: 8px;
}

#photo-space img {
  border-style: solid;
  border-width: 2px;
  border-color: #6F92B2;
}

#online-icon{
  width: 42%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

.content {
  grid-column: span 1;
}

.content>div {
  margin-top: 28px;
}

.bold-text {
  font-weight: bold;
}

.orange-header {
  color: #fb6c27;
  font-weight: bold;
  background-color: #FDCDA2;
  padding: 1px 1px 1px 14px;
}

.orange-text {
  color: #fb6c27;
  font-weight: bold;
  margin-top: 8px;
}

.default-indent {
  padding-left: 10px;
}

.blue-border {
  border-style: solid;
  border-width: 2px;
  border-color: #6F92B2;
}

.blue-header {
  color: white;
  font-weight: bold;
  background-color: #6F92B2;
  padding: 1px 1px 1px 12px;
}

.blue-table {
  width: 100%;
}

.blue-table td {
  padding: 5px;
}

.blue-table td:first-child {
  color: #1443a3;
  font-weight: bold;
  background-color: #b2d0ee;
}

.blue-table td:last-child {
  background-color: #d8e8fb;
}

@media only screen and (max-width: 767px) {
  #page-wrapper {
    grid-template-columns: minmax(1px, 450px);
  }

  #header {
    grid-column: span 1;
  }
}

/* ************************************************************************** */
.mmp-ui-container {
  background-image: linear-gradient(#ffffff, #cdcdcd, #969696);
  border-style: solid;
  border-width: 1px;
  display: grid;
  font-family: Verdana, Helvetica, Arial;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  min-height: 75px;
  min-width: 300px;
}

.mmp-button-container {
  margin: 8px 3px 8px 8px;
}

.mmp-button-container > button {
  background-image: linear-gradient(#ffffff, #cdcdcd, #969696);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #343a40;
  height: 100%;
  width: 100%;
}

.mmp-icon {
  font-size: 48px;
}

.mmp-play-icon {
  color: #00d820;
}

.mmp-pause-icon {
  color: #343a40;
}

.mmp-display-container {
  background-color: #343a40;
  border-radius: 3px;
  color: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
  font-size: 80%;
  margin: 8px 8px 8px 3px;
  padding-left: 10px;
  padding-right: 5px;
}

.mmp-eq-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.mmp-eq-container > img {
  max-height: 28px;
  max-width: 87px;
  height: auto;
  width: 100%;
}

.mmp-song-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
