@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

#page-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(1px, 450px));
  grid-column-gap: 40px;
  font-family: Verdana, Helvetica, Arial;
  padding: 0px 5px 50px 5px;
  font-size: 90%;
}

#header {
  grid-column: span 2;
  text-align: center;
  background-color: #6F92B2;
  color: white;
  font-weight: bold;
}

#network {
  border-style: solid;
  border-width: 2px;
  font-weight: bold;
  padding: 30px;
  text-align: center;
  font-size: 140%;
}

#website-url {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  font-size: 80%;
}

#profile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#profile-name {
  grid-column: span 2;
  font-size: 140%;
}

#profile-picture {
  grid-column: span 1;
}

#profile-description {
  grid-column: span 1;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  padding: 15px;
}

#profile-description>div {
  display: flex;
  align-items: flex-end;
}

#online-icon{
  width: 42%;
  height: auto;
}

#blurbs{
  min-height: 200px;
}

#profile-picture > img {
  width: 100%;
  height: auto;
}

.content {
  grid-column: span 1;
}

.content>div {
  margin-top: 35px;
}

.bold-text {
  font-weight: bold;
}

.orange-header {
  color: #fb6c27;
  font-weight: bold;
  background-color: #FDCDA2;
  padding: 1px 1px 1px 14px;
}

.orange-text {
  color: #fb6c27;
  font-weight: bold;
  margin-top: 8px;
}

.default-indent {
  padding-left: 10px;
}

.default-bottom-margin{
  margin-bottom: 10px;
}

.blue-border {
  border-style: solid;
  border-width: 2px;
  border-color: #6F92B2;
}

.blue-header {
  color: white;
  font-weight: bold;
  background-color: #6F92B2;
  padding: 1px 1px 1px 12px;
}

.blue-table {
  width: 100%;
}

.blue-table td {
  padding: 5px;
}

.blue-table td:first-child {
  color: #1443a3;
  font-weight: bold;
  background-color: #b2d0ee;
}

.blue-table td:last-child {
  background-color: #d8e8fb;
}

@media only screen and (max-width: 767px) {
  #page-wrapper {
    grid-template-columns: minmax(1px, 450px);
  }

  #header {
    grid-column: span 1;
  }
}

/* MySpace Music Player ***************************************************** */
.mmp-ui-container {
  background-image: linear-gradient(#ffffff, #cdcdcd, #969696);
  border-style: solid;
  border-width: 1px;
  display: grid;
  font-family: Verdana, Helvetica, Arial;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
  min-height: 75px;
  min-width: 300px;
}

.mmp-button-container {
  margin: 8px 3px 8px 8px;
}

.mmp-button-container > button {
  background-image: linear-gradient(#ffffff, #cdcdcd, #969696);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #343a40;
  height: 100%;
  width: 100%;
}

.mmp-icon {
  font-size: 48px;
}

.mmp-play-icon {
  color: #00d820;
}

.mmp-pause-icon {
  color: #343a40;
}

.mmp-display-container {
  background-color: #343a40;
  border-radius: 3px;
  color: white;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 4fr 1fr;
  font-size: 80%;
  margin: 8px 8px 8px 3px;
  padding-left: 10px;
  padding-right: 5px;
}

.mmp-eq-container {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
}

.mmp-eq-container > img {
  max-height: 28px;
  max-width: 87px;
  height: auto;
  width: 100%;
}

.mmp-song-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Photo Space ************************************************************** */
.ps-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px;
}

.ps-image {
  border-color: #6F92B2;
  border-style: solid;
  border-width: 2px;
  height: auto;
  width: 100%;
  cursor: pointer;
}

.ps-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.ps-modal-image {
  margin: auto;
  display: block;
  height: auto;
  width: 80%;
  max-width: 400px;
}

.ps-modal-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.ps-modal-close:hover,
.ps-modal-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@keyframes ps-zoom-in {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.ps-zoom-in {
  animation-name: ps-zoom-in;
  animation-duration: 0.5s;
}

@keyframes ps-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ps-fade-in {
  animation-name: ps-fade-in;
  animation-duration: 0.4s;
}
